/node_modules
/public/hot
/public/storage
/public/sitemap.xml
/storage/*.key
/vendor
.env*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
.php-cs-fixer*cache
yarn-error.log
