@import 'variables';
@import 'bootstrap/scss/bootstrap';

$s2bs5-clear-icon: $btn-close-bg;

@import 'select2/src/scss/core';
@import 'select2-bootstrap-5-theme/src/include-all';

.card-body .pagination { margin-bottom: 0 }

.list-group-item-activity {
    border-left: 2px solid !important;

    @each $color, $value in $theme-colors {
        &-#{$color} {
            border-left-color: $value !important;
        }
    }
}

.modal {
    &-footer, &-header { border: none }

    &-header {
        background: $light;
    }
}

.table {
    td, th {
        white-space: nowrap;
        vertical-align: middle;
    }
}
